<%= stylesheet_link_tag "static" %>

<html>


<div class="row valign-wrapper">
<h1 class="INK col s6 offset-s8 animate__animated animate__fadeInRight">INK</h1>
</div>


<div class="row valign-wrapper">
 <%= link_to "Iniciar" ,poems_path ,class:"waves-effect waves-light btn-large col s2 offset-s8 black animate__animated animate__fadeInLeft" %>
</div>